<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>
    <header>
        <h1>LOGO</h1>
    </header>

    <section>
        <nav>
            <ul>
                <li>
                    <a href=""><button class="buttonS">A</button></a>
                </li>
                <li>
                    <a href=""><button class="button">B</button></a>
                </li>
                <li>
                    <a href=""><button class="button">C</button></a>
                </li>
                <li>
                    <a href=""><button class="button">D</button></a>
                </li>
                <li>
                    <a href=""><button class="button">D</button></a>
                </li>
                <li>
                    <a href=""><button class="button">E</button></a>
                </li>
                <li>
                    <a href=""><button class="button">F</button></a>
                </li>
                <li>
                    <a href=""><button class="button">G</button></a>
                </li>
            </ul>
        </nav>

        <article>
            <div id="video">  
                <video src=""></video>
                <h5 text-align="center">Título del Video</h5>
            </div>
            <div id="options-vid">
                <p>views | date</p>
                <button>like</button>
                <button>share</button>
                <button>...</button>
            </div>
            <div id="comments">
                <h6>Comentarios</h6>
                <div>
                    <form action="">
                        <label for="comment">Comentar</label><br>
                        <input type="text" id="commenting" 
                        placeholder="Escribe aquí tu comentario" autofocus>
                    </form>
                
                </div>
            </div>
        </article>
    </section>

    <footer>
        <p>Contact</p>
    </footer>
</body>
</html>